<%= stylesheet_link_tag "home" %>

<%= image_tag "banner.jpg", :class => "frame" %>

<div id="content">
  <div id="column1">
    <h2>Who is already on Rails?</h2>
    <p>Tens of thousands of Rails applications are already live. People are using Rails in the tiniest part-time operations to the biggest companies.</p>
  </div>

  <div id="column2">
    <h2>Who is behind it?</h2>
    <p>Rails was created in 2003 by David Heinemeier Hansson and has since been extended by the Rails core team, more than 1,400 contributors, and supported by a vibrant ecosystem.</p>
  </div>
</div>