#column1
  - if @posts.present?

    - @posts.each do |post|
      %h2= link_to post.title.titleize, post

      #post
        = simple_format post.excerpt

        %p= link_to "continue ...", post

  - else
    %p We'll start posting soon.